.mouse-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translateZ(0);
    visibility: hidden;

}

.cursor-inner, .cursor-outer {
    visibility: visible;
    z-index: 100000000000000 !important;
    transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
    border-radius: 50%; /* Ensures round shape */
}

/* Round shape for cursor */
.cursor-inner {
    width: 8px;
    height: 8px;
    background-color: var(--text-1);
}

.cursor-outer {
    width: 32px;
    height: 32px;
    border: 2px solid var(--text-1);
    opacity: 0.5;
}

a:hover .cursor-inner, .cursor-hover.cursor-inner,
.nav-link:hover .cursor-inner {
    width: 70px;
    height: 70px;
    opacity: 0.3;
}

a:hover .cursor-outer, .cursor-hover.cursor-outer {
    opacity: 0;
}


